apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
    {{ .Values.label }}: "1"  # Triggers the Grafana sidecar to import the dashboard
  {{- if .Values.folder }}
  annotations:
    grafana_folder: {{ .Values.folder }}  # Optional: Places the dashboard in a specific Grafana folder
  {{- end }}
data:
  redis-dashboard.json: |-
    {{- if .Values.datasource }}
    {{- $json := .Files.Get "dashboards/redis-dashboard.json" | fromJson }}
    {{- $json | mustDeepCopy | set "templating" "list" (map "name" "DS_PROMETHEUS" "type" "datasource" "query" "prometheus" "current" (map "selected" true "text" .Values.datasource "value" .Values.datasource)) | toJson | nindent 4 }}
    {{- else }}
    {{ .Files.Get "dashboards/redis-dashboard.json" | nindent 4 }}
    {{- end }}
